.item-card,
.transactions-table {
  margin-left: auto;
  margin-right: auto;
}

.item-info {
  margin: 0;
  padding: 0;
}

.item-image {
  width: 25%;
}

.item-text {
  width: 75%;
}

#transactions-records {
    padding-top: 32px;
}

#map {
  height: calc(100vh - 64px);
}

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
